

/* -------------------------div one------------------------- */
    .div-one {
        
        height: 500px;
        background-image: url(my\ pic.jpg);
        
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 500px;
        overflow: hidden;


    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }

    li a:hover {
        background-color: orange;
        border-radius: 15px;
        transition-duration: 0.5s;
        
        

    }

    .artical-one-for-div-one {
color: white;
    padding-left: 80px;
    padding-top: 180px;
    font-size: 30px;
    font-weight: bolder;
    font-family: system-ui;
        
    }
    .artical-one-for-div-one:hover{
        color: orange;
    }

.span-one-for-div-one{
    position: relative;
    top: 20px;
    left: -289px;
}
                .span-two-for-div-one {
                    color: orange;
                }

    .artical-two-for-div-one {
        color: white;
        padding-left: 75px;
        font-size: large;
        font-weight: bolder;
        font-family: sans-serif;
    }

    .artical-three-for-div-one {
        /* padding-left: 10px; */
        padding-top: 10px;
        padding-bottom: 16px;
        background-color: white;
        /* margin-left: 47px; */
        /* margin-right: 69px; */
        margin: 0 auto;
        width: 150px;
        margin-bottom: 15px;
        border-radius: 20px;
        text-align: center;
        color: orange;
    }

    .button-one-for-div-one {
        border: none;
        background: border-box;
        color: aliceblue;
        text-align: center;
        margin: 0 auto;
        width: 160px;
        background: darkorange;
        border-radius: 15px;
        padding-top: 10px;
        margin-left: 12px;
        padding-bottom: 16px;
        cursor: pointer;

    }
    
    .form0ne {
        background-color: #0000008a;
        width: 190px;
        height: 260px;
        padding: 30px;
        border-radius: 20px;
        margin-left: 950px;
        margin-top: -182px;
    }
    /* ----------------end div one------------------------ */
    /*----------------------- div-two --------------------*/
    .container-div-two-1{
    
        text-align: center;
            /* margin-top: 500px; */
            background-color: #eee;
            width: 150px;
            margin-top: 85px;
            position: relative;
            left: 135px;
            height: 129px;
            border-radius: 10px;
            padding-top: 15px;
            cursor: pointer;
    }
    .container-div-two-1:hover{
        background-color: orange;
        transition-duration: 0.5s;
    }
.pargraph-one-for-div-two{
        position: relative;
        top: -20px;
            font-size: large;
                font-weight: bold;
}
.pargraph-two-for-div-two{
        position: relative;
        top: -33px;
        text-align: left;
}
.span-one-for-div-two{
    font-weight: bold;
}

    .container-div-two-2{
    /* background-color: #eee;
        text-align: center;
        width: 150px;
        margin-left: 400px;
        margin-top: -161px;
        height: 129px;
        border-radius: 10px; */
        
text-align: center;
    /* margin-top: 500px; */
    background-color: #eee;
    width: 150px;
    margin-top: 85px;
    position: relative;
    left: 300px;
    height: 129px;
    border-radius: 10px ;
    padding-top: 15px;
    cursor: pointer;
    margin-left: 230px;
    margin-top: -144px;
    }
    .container-div-two-2:hover{
        background-color: orange;
        transition-duration: 0.5s;
}
    .pargraph-three-for-div-two{
        position: relative;
        top: -20px;
        font-size: large;
            font-weight: bold;
            
    }
    .artical-one-for-div-two{
        position: relative;
        top: -30px;
        left: 1px;
        text-align: left;
    }

    .container-div-two-3{
        /* container 3 */
border-radius: 10px;
    background-color: #eee;
    width: 150px;
    position: relative;
    left: 900px;
    top: -162px;
    height: 145px;
    cursor: pointer;
    }
    .container-div-two-3:hover{
        background-color: orange;
        transition-duration: 0.5s;
    }
    .pargraph-four-for-div-two{
        position: relative;
            top: 10px;
            left: 6px;
            font-size: large;
            font-weight: bold;
    }





